*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 133px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result__video-container {
  max-width: 711px;
  max-height: 386px;
  position: relative;
}

.result__video {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
  min-width: 212px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin: auto 0;
  width: fit-content;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
}

input {
  cursor: text;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

input[type='checkbox']:checked + span {
  background-color: #fff;
  padding: 1px;
  border: 1px solid #1b1919;
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:not(:first-of-type) {
  margin-left: 15px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  min-width: 225px;
  min-height: 27px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  appearance: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.content__list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link:active {
  background-color: #545050
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
} 

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

li.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 394px;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
}

.content__video-card-description {
  max-width: 200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  color: #fff;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  max-width: 194px;
  max-height: 103px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  overflow: auto;
  margin-top: 26px;
  position: relative;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 3px double #fff;
}

.search-form__submit-button {
  margin-top: 20px;
  padding: 6px 73.5px;
}

.more-button {
  width: 100%;
  padding: 6px 0;
}
